<div align="center">
<h2>Эксперемент со стоимостью капитала</h2>

<p>Генерируем стоимость активов = <%= @presentprice %> USD, среднюю доходность <%= @averageprof %>.</p>

<p>Получаем дисперсию <%= @dispersia %> из <%=@sravnenie%> сравнений.</p>

<FORM>
<INPUT TYPE="button" onClick="history.go(0)" VALUE="Получить решение!">
</FORM>

</div>