/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#menutop {
text-align: center;
font-size: 18px;
  padding:10px;
  margin:0;
  }
#menutop li {
list-style: none;
display: inline;
padding: 2px 0.5em;
  }

#menuhappy {
text-align: center;
font-size: 3em;
margin-bottom: 0;
  }
#menuhappy li {
list-style: none;
display: inline;
padding: 2px 0.5em;
  }
  

/* Posts */

.posts {
  margin-right: 200px;
}
.pinfo {
  color: #999;
  font-size: 12px;
}
.pcat {
  text-transform: uppercase;
  font-weight: bold;
}
.ptitle {
  font-weight: bold;
}
.pcontent {
  margin-bottom: 17px;
}
.padmin {
  float:right;
}

.sidebar {
position: absolute;
right: 0;
top: 0;	
}
