/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#menutop {
text-align: center;
font-size: 18px;
  padding:10px;
  margin:0;
  }
#menutop li {
list-style: none;
display: inline;
padding: 2px 0.5em;
  }

#wrapper {
    width: 950px;
    margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
}

#userpanel {
	background: #EEEEEE;
	padding: 2px 0.5em;
	margin-bottom: 5px;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
    width: 100%;
    float: left;
    overflow: hidden;
}

#content {
	padding: 0 270px 0 0;
	
	margin-left: 6px;
}


/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 250px;
	margin-left: -250px;
	position: relative;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
}

 /* Messages */
.error_messages {
	background: #FFF6BF;
	border-top: 2px solid #FFD324;
	border-bottom: 2px solid #FFD324;
	text-align: center;
	margin: 10px auto;
	padding: 5px 20px;
	}
	.error_messages li {

	}
	
#counter {
font-size: 2em;	
  	}
  	
  	.success, .warning, .attention, .information {
	padding: 10px 10px 10px 33px;
	margin-bottom: 15px;
	color: #555555;
}
.success {
	background: #EAF7D9 url('success.png') 10px center no-repeat;
	border: 1px solid #BBDF8D;
}
.warning {
	background: #FFD1D1 url('warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;
}
.attention {
	background: #FFF5CC url('attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.information {
	background: #E8F6FF url('information.png') 10px center no-repeat;
	border: 1px solid #B8E2FB;
}
  	
/* Posts */


.pinfo {
  color: #999;
  font-size: 12px;
}
.pcat {
  text-transform: uppercase;
  font-weight: bold;
}
.ptime {
}
.ptitle {
  font-size: 18px;
  font-weight: bold;
}
.pcontent {
  margin-bottom: 17px;
}
.padmin {
  float:right;
}