/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#menutop {
text-align: center;
font-size: 18px;
  padding:10px;
  margin:0;
  }
#menutop li {
list-style: none;
display: inline;
padding: 2px 0.5em;
  }

#menuhappy {
text-align: center;
font-size: 3em;
margin-bottom: 0;
  }
#menuhappy li {
list-style: none;
display: inline;
padding: 2px 0.5em;
  }
 
 /* Messages */

  
	.message {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		font-size: 14px;
		line-height: 23px;
		margin: 30px 0 30px 0;
		padding: 15px 10px 15px 10px;
		border-width: 1px;
		border-style: solid;
	}

	.success {
		background: #acf168;
		border-color: #78b73a;
		color: #609928;
	}
	.note {
		background: #b9dfef;
		border-color: #8eb7c9;
		color: #567e90;
	}
	
	.warning {
		background: #f77e7e;
		border-color: #b95555;
		color: #8b4141;
	}  
  

/* Posts */

.posts {
  margin-right: 200px;
  padding-bottom: 2px;
  border-bottom: solid 1px #E5E5E5;
  margin-bottom: 20px;
}
.pinfo {
  color: #999;
  font-size: 12px;
}
.pcat {
  text-transform: uppercase;
  font-weight: bold;
}
.ptime {
}
.ptitle {
  font-size: 18px;
  font-weight: bold;
}
.pcontent {
  margin-bottom: 17px;
}
.padmin {
  float:right;
}

.sidebar {
position: absolute;
right: 0;
top: 0;	
}
